.footer {
    position: relative;
    top: 0px;
    z-index: 999;
    background-color: #387a47;
    text-align: center;
    justify-content: center;
    
}

.footer-collapse {
    text-align: center;
}

.footer-link {
    font-size: 1rem;
}

.text {
    color: #fcf9f9;
    
}