.footer {
    position: relative;
    top: 0px;
    z-index: 999;
    background-color: #387a47
}

.footer-collapse {
    text-align: center;
}

.footer-link {
    font-size: 1rem;
}

.footer-brand {
    font-size: 1;
}